<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
      <header>
        <center> $ Welcome to the TEMPURATURE READER $</center>
      </header>
      
      <style>
        a:link {
        color: white;
        }
        a:visited{
            color:snow;
        }
    
    </style>

  </head>
  <body>
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
</body>
    
</html>