<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
      <header>
        <center> $ Welcome to the TEMPURATURE READER $</center>
      </header>
      
      <style>
        a:link {
        color: white;
        }
        a:visited{
            color:snow;
        }
    
    </style>

  </head>
  <body>
      <header>
      <div style="background-color:Black;color:white;padding:10px;">
            <a href="/">Home</a> | <a href="/login">Login</a> | <a href="/signup">Sign up</a> | <a href="/profile">Profile</a>
      </div>
      </header>
    <div class="container">
      <fieldset>
          <center><h2>Signup today and get awesome news about the tempurature!</h2></center>
        <form action="/signup" method="post">
            <input name="first_name" type="text" class="ghost-input" placeholder="First Name" required>
            <input name="last_name" type="text" class="ghost-input" placeholder="Last Name" required>
            <input name="email" type="email" class="ghost-input" placeholder="Email" required>
            <input name="password" type="password" class="ghost-input" placeholder="Password" required>
            <input name="conpassword" type="password" class="ghost-input" placeholder="Confirm Password" required>
            <input name="age" type="number" class="ghost-input" placeholder="Age (optional)">
            
            <input type="submit" class="ghost-button" value="Sign Up">
            <input type="reset" class="ghost-button" value="clear" />  
            
          </form>
          
          <form>
           <% if(error !== null){ %>
          <p><%= error %></p>
            <% } %>
          </form>
          
        </fieldset>
      </div>
      <footer> 
            <h6>What's the tempurature you might say? @2019 </h6>
      </footer>
  </body>
</html>